<div class="row">
	<div class="large-12 columns">
		<!-- Desktop Slider -->
		<div class="orbit-container">
		  <ul data-orbit class="orbit-slides-container">
		    <li>
		      <img src="http://f.cl.ly/items/15323O2S44113i2j063t/bruschetta-italy-halloween-food.jpg">
		      <div class="orbit-caption">Italian Food</div>
		    </li>
		    <li class="active">
		      <img src="http://f.cl.ly/items/0p3C1x0K1L1E001m1D25/chinese.jpg">
		      <div class="orbit-caption">Chinese Food</div>
		    </li>
		    <li>
		      <img src="http://f.cl.ly/items/1e0V2r1P3I2l3y2O2c3Q/american.jpg">
		      <div class="orbit-caption">Gourmet Burgers</div>
		    </li>
		    <li>
		      <img src="http://f.cl.ly/items/1D1b3N0y07440N360A15/greek.jpg">
		      <div class="orbit-caption">Greek</div>
		    </li>
		    <li>
		      <img src="http://f.cl.ly/items/2e1g3R23302o1B383l2I/sushi.jpeg">
		      <div class="orbit-caption">Sushi</div>
		    </li>
		  </ul>
		</div>	



		<% @restaurants.each do |restaurant| %>

			<h3> <%= link_to restaurant.name, restaurant_path(restaurant.id) %> </h3>
			<ul>
				<li> Address: <%= restaurant.address %> </li>
				<li> <%= restaurant.description %> </li>
				<li> Available Seats: <%= restaurant.seats %> </li>
			</ul>
			
		<% end %>	
	</div>
</div>

